<header>
    <a href="/"><h3>AppBuilder</h3></a>
    <div class="menu-toggle">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
    </div>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="#features">Features</a></li>
            <li><a href="#pricing">Pricing</a></li>
            <li><a href="#testimonials">Testimonials</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Contact Us</a></li>
            <div class="active"></div>
        </ul>
    </nav>
    <div class="clearfix"></div>
</header>

<article class="hero container">
    <section>
        <h1>Build your own App for <span>IOs or Android.</span></h1>
        <h3>Build mobile apps in a short period of time <span>with our</span></h3>
        <img src="images/check.png" alt="choices">
        <div>
            <a href="#">Get Started</a>
            <a href="#">Learn More</a>
        </div>
    </section>
    <section>
        <img src="images/hero.png" alt="Hero Image">
   </section>
</article>

<article class="features container" id="features">
    <section>
        <img src="images/features.png" alt="Features">
    </section>
    <section>
        <h2>Our Features</h2>
        <h3>App Builder</h3>
        <p>Build your custom app with our platform <span>using any of our simple templates.</span></p>
        <h3>Full Mobile Development</h3>
        <p>Our team will design, build, and deploy an <span>app that fits your business needs.</span></p>
        <h3>Reseller</h3>
        <p>With our agency friendly features everything <span>becomes easy to manage and sell.</span></p>
    </section>
</article>

<article class="container pricing" id="pricing">
    <h2>Choose the plan that's right for you</h2>
    <section class="cardHolder">
        <section class="card">
            <h4>Basic</h4>
            <h3>$85/mo</h3>
            <ul>
                <li>Push notifications</li>
                <li>User management</li>
                <li>iOS & Android app</li>
                <li>5,000 Downloads</li>
                <li>Standard app analytics</li>
                <li>Push notification analytics</li>
                <li>Email support</li>
            </ul>
            <a href="#">Get Started</a>
        </section>
        <section class="card">
            <h4>Professional</h4>
            <h3>$140/mo</h3>
            <ul>
                <li>RSS push notifications</li>
                <li>plugin access settings</li>
                <li>GEO push notifications</li>
                <li>iPad & Android Tablets</li>
                <li>25,000 downloads</li>
                <li>Advanced Analytics</li>
                <li>Priority support</li>
            </ul>
            <a href="#">Get Started</a>
        </section>
        <section class="card">
            <h4>Enterprise</h4>
            <h3>$499/mo</h3>
            <ul>
                <li>RSS push notifications</li>
                <li>Plugin access settings</li>
                <li>GEO push notifications</li>
                <li>iPad & Android Tablets</li>
                <li>25,000 downloads</li>
                <li>Advanced Analytics</li>
                <li>Priority support</li>
            </ul>
            <a href="#">Get Started</a>
        </section>
    </section>
</article>
<article class="container testimonials" id="testimonials">
    <h2>With over <span>2,000</span> delivered apps, over <span>$1,000,000 </span>saved in development costs, see what our customers say about us.</h2>
    <section class="cardHolder">
        <section class="card">
            <img src="images/john.png" alt="John Doe">
            <h3>John Doe</h3>
            <p>"The platform is easy enough to use that you don't need a lot of hand-holding"</p>
        </section>
        <section class="card">
            <img src="images/patrick.png" alt="John Doe">
            <h3>Patrick Hardy</h3>
            <p>"The platform is easy enough to use that you don't need a lot of hand-holding"</p>
        </section>
        <section class="card">
            <img src="images/ellen.png" alt="John Doe">
            <h3>Ellen Smith</h3>
            <p>"The platform is easy enough to use that you don't need a lot of hand-holding"</p>
        </section>
    </section>
</article>